.select-box {
    position: relative;
    /* display: flex; */
    width: 55px;
    flex-direction: column;
}

/*  */



.select-box__current {
    position: relative;
    /*  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    outline: none;
}

.select-box__current:focus+.select-box__list {
    opacity: 1;
    -webkit-animation-name: none;
    animation-name: none;

}

.select-box__current:focus+.select-box__list .select-box__option {
    cursor: pointer;
}

.select-box__current:focus .select-box__icon {
    transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 9px;
    opacity: 0.5;
    transition: 0.2s ease;
}

.select-box__icon_close {
    position: absolute;
    top: 60%;
    right: 35px;
    transform: translateY(-50%);
    width: 15px;
    opacity: 0.5;
    transition: 0.2s ease;

}



.select-box__value {
    display: flex;
}

.select-box__input {
    display: none;
}

.select-box__input:checked+.select-box__input-text {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 0px;
}

.select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
}

.select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    -webkit-animation-name: HideList;
    animation-name: HideList;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    background: #fff;
}

.select-box__option {
    display: block;
    padding: 3px;
    padding-left: 10px;
    background-color: #fff;
}

.select-box__option:hover, .select-box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}


/* dropdownlist2 */


.select-box1 {
    margin-left: auto;
    font-size: 13px;
    position: relative;
    /* display: flex; */
    width: 60%;
    flex-direction: column;
}

/*  */



.select-box__current1 {
    position: relative;
    /*  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    outline: none;
}

.select-box__current1:focus+.select-box__list1 {
    opacity: 1;
    -webkit-animation-name: none;
    animation-name: none;
    color: grey;
}

.select-box__current1:focus+.select-box__list1 .select-box__option1 {
    cursor: pointer;
}

.select-box__current1:focus .select-box__icon1 {
    transform: translateY(-50%) rotate(180deg);
}

.select-box__icon1 {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 12px;
    opacity: 0.5;
    transition: 0.2s ease;
}

.select-box__icon_close1 {
    position: absolute;
    top: 60%;
    right: 35px;
    transform: translateY(-50%);
    width: 15px;
    opacity: 0.5;
    transition: 0.2s ease;

}



.select-box__value1 {
    display: flex;
}

.select-box__input1 {
    display: none;
}

.select-box__input1:checked+.select-box__input-text1 {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
    background-color: transparent;
}

.select-box__input-text1 {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
}

.select-box__list1 {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    -webkit-animation-name: HideList;
    animation-name: HideList;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    background: #fff;
}

.select-box__option1 {
    display: block;
    padding: 3px;
    padding-left: 10px;
    background-color: #fff;
}

.select-box__option1:hover, .select-box__option1:focus {
    color: #546c84;
    background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}




