@media (max-width:600px){
    .formDiv{
        width: 80%;
      }

}


@media (max-width:768px){
  #main {  
    margin-left: 0px !important;
    border-left: 0px solid rgb(235, 232, 232);
  }

  .sidenav {
    padding-top: 0px;
    width: 0px;
  }

  .card1{
    margin-top: 1rem;
    margin-bottom: .5rem;
  }


element.style {
  min-height: 414px;
}
.barChart2 {
  margin-top: 1.5rem;
  display: block;
}

  #myChart{
    height: 375px !important;
    width: 75vw !important;

  }

}