@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


:root {
  --header-height: 3.5rem;
  --nav-width: 68px;
  --body-font: 'Roboto', sans-serif;
  --z-fixed: 100
}

*,
::before,
::after {
  box-sizing: border-box;
}




body {
  position: relative;
  /* margin: var(--header-height) 0 0 0; */
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: .5s;
  border-bottom: 1px solid rgb(235, 232, 232);
}

.sidenav {
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  /* border-right: 1px solid rgb(165, 161, 161); */
}

.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  width: 200px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav .powerButton{
  position: absolute;

  bottom: 30px;
}
.sidenav a span {
  display: none;
}

.mystyle a span {
  margin-left: 15px;
  display: inline;
  transition: linear 0.5s;
  animation-delay: 0.5s;
  font: normal normal normal 14px/17px 'Roboto', sans-serif;
  color: #9BABC5;
  opacity: 1;
}

.mystyle span.active {
  color: #05A6F0;
}

/* .sidenav a:hover {
    color: #f1f1f1;
  } */

.sidenav .closebtn img {
  /* margin-left: -5px; */
  transform: rotate(180deg);
}

.openbtn, .closebtn {
  margin-left: -5px;
}


#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 80px;
  padding-top: 70px;
  background-color: #F9FBFC;
  min-height: 100vh;
  border-left: 2px solid rgb(235, 232, 232);
}

/* top namv */
.searchBox {
  position: relative;
}

.form-search {
  display: inline-block;
  width: 0px !important;
}

#header .form-control {
  padding: 0px;
  position: absolute;
  left: -203px;
  border: 0px;
  border-radius: 0px;
  height: 28px;
  font-size: 14px !important;
  border-bottom: 1px solid rgb(190, 187, 187);
  outline: 0;
  width: 200px;
}

/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;width:50px;}
    .sidenav a {font-size: 18px;}
  } */




/* sign in */

.signIn .div-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9FBFC;
  padding: 1.5rem 0rem;
  min-height: 100vh;
}

.carousel-indicators button.active {
  opacity: 1;
  background-color: #05A6F0;
  width: 15px;
  transition: all 0.5s;
}

.carousel-indicators {
  margin-bottom: 0px;
  bottom: -6px;
}

.carousel-indicators button {
  border-radius: 50px;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: initial;
  border: 0;
  border-top: 3px solid transparent;
  border-bottom: 2px solid transparent;
  background-color: rgb(80, 77, 77);
  height: 0px;
  width: 10px;
  transition: all 0.5s;
}

.signIn .div-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  min-height: 100vh;
  padding: 1.5rem 0rem;
}

/* Solid border */
hr.hl {
  border: 2px solid #05A6F0;
  width: 30px;
  opacity: inherit;
}

.div-left p {
  text-align: center;
  font: normal normal normal 15px/24px Roboto;
  letter-spacing: 0px;
  color: #6E6D7A;
  opacity: 1;
}


/* form modified */

.form-floating>.form-control, .form-floating>.form-select {
  height: calc(3rem + 2px);
}

.form-floating>label {
  position: absolute;
  padding: .8rem .75rem;
}


.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
  opacity: 1;
  height: 50%;
  padding-top: 0px;
  margin-top: .7rem;
  background: white;
  transform: scale(.95) translateY(-1.5rem) translateX(.75rem);
}

.form-floating>.form-control {
  padding: 1rem 1.5rem;
}

.form-control {
  font-size: 1rem;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  font-size: 1rem;
  box-shadow: 0 0 0 0 rgb(13 110 253 / 25%);
}


.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
  padding-top: 0.625rem;
}

.form-check-input:checked {
  background-color: #05A6F0;
  border-color: #05A6F0;
}

.form-check .form-check-label {
  font-size: 13px;
}

.form-check .form-check-label a {
  color: #05A6F0;
}

form .btn-color {
  background: #05A6F0;
}

form p {
  font-size: 13px;
}

form p a {
  color: #05A6F0;
}

.formDiv {
  width: 60%;
}

/* form closed */

.carousel-item img {
  width: 400px;
  height: 285px;
}


/* card design */

.clear-end{
  clear: both;
}

.card1{
  background: transparent linear-gradient(180deg, #FEF5F0 0%, #FDF1E9 52%, #FCE8DD 100%) 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}
.card2{
  background: transparent linear-gradient(180deg, #F2F6FD 0%, #E8EEFE 100%) 0% 0% no-repeat padding-box;
}
.card3{
  background: transparent linear-gradient(180deg, #F1F9FE 0%, #E3F2FD 100%) 0% 0% no-repeat padding-box;
}
.card4{
  background: transparent linear-gradient(180deg, #FEE9F0 0%, #FEF2F5 100%) 0% 0% no-repeat padding-box;
}

.card1 p{
  color: #161938;
  font-size: 13px;
}

.card-title{
  margin-bottom: 14px;
}

.card1 .card-title p{
  font-size: 14px !important;
}

.card1 h4{
  font: 500 24px/30px Roboto;
  color: #F47122;
  letter-spacing: 0px;
  margin-bottom: 0px;
}

.card2 h4{
  color: #5B84C6;
}
.card3 h4{
  color: #54B5FA;
}
.card4 h4{
  color: #D25681;
}

.chartDiv{
  /* background: #6f4625 0% 0% no-repeat padding-box; */
  box-shadow: 0px 3px 6px #00000014;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6px;
  opacity: 1;
  color: #fff;
  background-image: url('../img/wave.svg');
  z-index: -999;
}

.chartDiv h6{
  font: 14px/17px Roboto !important;
}

.chartDiv p{
  font: normal normal normal 11px/17px Roboto;
}


.chart.doughnut data,span{
  color: white;
  font: normal normal normal 12px/14px Roboto;
  opacity: 1;
  padding: 10px 0px;
}

.chartDiv ul li::marker {
  font-size: 20px;
 display: none; 
}

.chartDiv .chart canvas{
  width: 100%;
}

.canvas-container {
  position: relative;
}

.canvas-container h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: normal normal normal 13px/15px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}


.listed{
  opacity: 0.46;
  padding-left: 10px;
  margin-bottom: 0px;
}


/* #visualization{
  width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
} */

/* #visualization{
  max-height: 359px;
  width: 100%;
}
#visualization svg{

  width: 100% !important;
  max-height: 359px;

} */

#visualization {
  min-height: 359px;
}

#visualization div[dir="ltr"] {
  width:100% !important;
}

#visualization svg[aria-label="A chart."] {
  width:100% !important; 
}



.barChartDiv h4{
  text-align: left;
font: normal normal medium 18px/22px Roboto;
letter-spacing: 0px;
color: #11142D;
opacity: 1;
}

.barChartDiv p{
font: normal normal normal 14px/20px Roboto;
letter-spacing: 0px;
color: #05A6F0;
opacity: 1;
}

.barChart2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressDiv{
  
background: transparent linear-gradient(209deg, #ECF6FF 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
box-shadow: inset 0px 0px 6px #00000029;
border-radius: 4px;
opacity: 1;
}

.progressDiv h4{
font: 14px/17px Roboto;
letter-spacing: 0px;
font-weight: 500;
color: #11142D;
opacity: 1;
}

.progressDiv a{
font:  14px/20px Roboto;
letter-spacing: 0px;
color: #05A6F0;
opacity: 1;
}

.blueCard{
  background: transparent linear-gradient(152deg, #0093D6 0%, #00ABFA 100%) 0% 0% no-repeat padding-box;
box-shadow: inset 0px 0px 6px #00000029;
border-radius: 4px;
opacity: 1;
}

.blueCard p{
font: normal normal normal 13px/20px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-bottom: 3px;
}